:root {
  /* Light Theme */
  --primary-font: "Poppins", sans-serif;
  --primary-bg-color: #ffffff;
  --primary-text-color: #000000;
  --secondary-color: #575757;
  --btn-bg-color: #2b94af;
  --cta-hover-color: #167bce;
  --btn-bg-light: #aae0e9;

  /* Dark Theme */
  --dark-primary-bg-color: #222222;
  --dark-primary-text-color: #ffffff;
  --dark-secondary-color: #828282;
  --dark-btn-bg-color: #2b94af;
  --dark-cta-hover-color: #0d5e8c;
  --dark-btn-bg-light: #aae0e9;
}

.dark-theme {
  --primary-bg-color: var(--dark-primary-bg-color);
  --primary-text-color: var(--dark-primary-text-color);
  --secondary-color: var(--dark-secondary-color);
  --btn-bg-color: var(--dark-btn-bg-color);
  --cta-hover-color: var(--dark-cta-hover-color);
  --btn-bg-light: var(--dark-btn-bg-light);
}

body {
  margin: 0;
  font-family: var(--primary-font, "Arial, sans-serif");
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.theme-btn {
  position: relative;
  left: 8.5rem;
}

h1,
h2,
h3,
p {
  font-weight: 700;
  margin: 0;
  cursor: default;
}
h5{
  margin-top: 0;
  font-weight: 100;
}
article,
footer,
.hero,
.logo-container,
.experience,
.cta,
.portfolio-skills,
.btn-bg,
.portfolio,
.aboutme,
.skills {
  display: flex;
}

.hero,
.portfolio,
.aboutme,
.skills {
  flex-direction: column;
}

.hero,
.btn-bg,
.portfolio,
.aboutme,
.skills {
  align-items: center;
}

.hero,
.experience,
.wrapper {
  text-align: center;
}

article,
.hero,
.logo-container,
.portfolio,
.aboutme,
.skills {
  gap: 1rem;
}

.hero-pic {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.inner-circle {
  content: "";
  position: absolute;
  top: 0.1rem; /* Adjust border thickness */
  left: 0.1rem;
  bottom: 0.1rem;
  right: 0.1rem;
  border-radius: 50%;
  border: 0.18rem solid var(--primary-bg-color); /* Define your border thickness and color */
  z-index: 1; /* Make sure it is above the image */
}

.hero-pic img,
.wrapper img {
  width: 100%;
}

.hero-pic img {
  height: 100%;
  object-fit: cover;
  object-position: top 0.4rem right -1.3rem;
  transform: scale(1.9);
}

.hero-info h1,
h2 {
  font-weight: 400;
}

article p,
.hero-info h2 {
  color: var(--secondary-color);
}

.hero-info h2 {
  font-size: 1rem;
  margin: 0 0 1rem 0;
}

footer,
.logo-container,
.experience,
.cta,
.portfolio-skills,
.btn-bg {
  justify-content: center;
}

.theme-btn,
.logo-container a,
.logo-container img {
  height: 1.5rem;
}

.experience {
  margin: auto;
  margin-top: 1.4rem;
  max-width: 20rem;
}

.experience b {
  font-weight: 500;
}

.experience h2 {
  width: 35%;
  font-weight: 300;
  font-size: 0.9rem;
}

.cta {
  margin-top: 1.2rem;
}

.cta,
.btn-bg {
  gap: 2rem;
}

.btn,
.btn-2,
.btn-bg {
  border-radius: 0.7rem;
  border: none;
}

.btn,
.btn-2,
.btn-bg,
.wrapper h3 {
  font-weight: 600;
}

.btn,
.btn-2,
.btn-bg,
.wrapper,
.project-wrapper {
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    background-color 0.3s ease, color 0.3s ease;
}

.download-btn:hover {
  background-color: var(--cta-hover-color);
}

.theme-btn,
.download-btn:hover,
.contact-btn:hover,
.btn-2:hover,
.wrapper img:hover {
  cursor: pointer;
}

.btn:hover,
.btn-2:hover,
.project-wrapper:hover,
.logo-container a:hover {
  transform: scale(0.98);
}

.btn:active,
.btn-2:active,
.project-wrapper:active,
.logo-container a:active {
  transform: scale(1);
}

.contact-btn:hover,
.download-btn {
  background-color: var(--btn-bg-color);
  color: white;
}

.contact-btn:hover {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-2:hover,
.active-btn {
  background-color: #2b94af;
}

.btn,
.btn-2 {
  height: 3rem;
}

.btn {
  width: 9rem;
}

.btn-2 {
  width: 8.5rem;
}

.download-btn {
  transition: background-color 0.3s ease;
}

.portfolio-skills {
  height: 4rem;
  margin-top: 1.5rem;
  position: relative;
}

.btn-bg,
.wrapper {
  width: 30rem;
}

article p,
.btn-bg {
  background-color: var(--btn-bg-light);
}

.hero,
.portfolio,
.skills
.aboutme {
  margin: 2rem;
  
}

.skills {
  display: none;
}

.aboutme{
  display: none;
}
.wrapper img {
  border-radius: 1rem;
}

article,
.wrapper h3 {
  margin-bottom: 1.5rem;
}

article {
  flex-wrap: wrap;
}

article p {
  border-radius: 0.5rem;
  flex-grow: 20;
  padding: 1rem;
}

footer {
  margin: 3rem 0;
}
.skill-info{
  margin: 2rem 1rem;
  text-align: left;
}
.aboutme {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-container {
  max-width: 800px;
  padding: 20px;
  box-shadow: 0 0 1000px rgb(0 222 255 / 95%);
  border-radius: 10px;
}
.about-header, .about-subheader {
  margin: 10px 0;
  font-size: x-large;
  font-weight: 600;
}
.about-text {
  margin: 15px 0;
  line-height: 1.6;
  text-align: left!important;
}

@media screen and (min-width: 900px) {
  .skills,
  .portfolio, 
  .aboutme {
    flex-direction: row;
    width: 80%;
  }
  .skill{
    display: flex;
    flex-direction: row;
  }
  .skill-image{
    align-content: start;
    width: calc(50%);
  }
  .skill-info{
    text-align: start;
    margin: 0 0 0 2rem;
    width: calc(50%);
  }
  .skills {
    width: 50%; 
    margin: 2rem auto 0;
  }
  .portfolio {
    margin: 2rem auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .wrapper {
    width: calc(60%);
    /* flex: none; */
  }
}
